#Temp block for crawlers/bots
BrowserMatchNoCase "ClaudeBot" bad_bot
BrowserMatchNoCase "bytespider" bad_bot
BrowserMatchNoCase "bingbot" bad_bot
BrowserMatchNoCase "SemrushBot" bad_bot
BrowserMatchNoCase "DotBot" bad_bot
BrowserMatchNoCase "meta-externalagent" bad_bot
BrowserMatchNoCase "Applebot" bad_bot
BrowserMatchNoCase "Dart" bad_bot
BrowserMatchNoCase "GPTBot" bad_bot
BrowserMatchNoCase "PetalBot" bad_bot
BrowserMatchNoCase "MJ12bot" bad_bot
BrowserMatchNoCase "OAI-SearchBot" bad_bot
BrowserMatchNoCase "Amazonbot" bad_bot
BrowserMatchNoCase "YandexBot" bad_bot
BrowserMatchNoCase "Barkrowler" bad_bot
BrowserMatchNoCase "BLEXBot" bad_bot
BrowserMatchNoCase "Scrapy" bad_bot
BrowserMatchNoCase "proximic" bad_bot
BrowserMatchNoCase "serpstatbot" bad_bot
BrowserMatchNoCase "Pinterestbot" bad_bot
BrowserMatchNoCase "OAI-SearchBot" bad_bot
BrowserMatchNoCase "PerplexityBot" bad_bot
BrowserMatchNoCase "webprosbot" bad_bot
BrowserMatchNoCase "EzoicBot-IntegrationCheck" bad_bot
BrowserMatchNoCase "AliyunSecBot" bad_bot
BrowserMatchNoCase "GeedoProductSearch" bad_bot
BrowserMatchNoCase "NetcraftSurveyAgent" bad_bot
BrowserMatchNoCase "DuckDuckBot" bad_bot
BrowserMatchNoCase "SeekportBot" bad_bot
Order Deny,Allow
Deny from env=bad_bot
#end of temp block for crawlers/bots

#start of Alibaba-cloud block
Deny from 47.79.0.0/21
Deny from 47.82.0.0/19
Deny from 47.242.0.0/16
#end of Alibaba-cloud block

# ==================================================================================
# LaraClassified - Geo Classified Ads CMS
# Copyright (c) BedigitCom. All Rights Reserved
#
# Website: http://www.bedigit.com
#
# LICENSE
# -------
# This software is furnished under a license and may be used and copied
# only in accordance with the terms of such license and with the inclusion
# of the above copyright notice. If you Purchased from Codecanyon,
# Please read the full License from here - http://codecanyon.net/licenses/standard
# ==================================================================================

# GLOBAL RULES
# ============
# Remove index.php from URL
<IfModule mod_rewrite.c>
    RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
    RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]
</IfModule>

# Default Apache rules
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    
    SetEnvIfNoCase User-Agent "Aboundex" bad_bot
SetEnvIfNoCase User-Agent "Baiduspider" bad_bot
SetEnvIfNoCase User-Agent "Yandex" bad_bot
SetEnvIfNoCase User-Agent "Semrush" bad_bot
SetEnvIfNoCase User-Agent "MJ12bot" bad_bot
SetEnvIfNoCase User-Agent "AhrefsBot" bad_bot
Deny from env=bad_bot

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Iframe calling
<IfModule mod_headers.c>
    Header unset X-Frame-Options
</IfModule>

# CUSTOM APACHE RULES
# ===================


